<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.zqs.coordinatorlayout">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    <activity android:name=".toolBar.ToolBarSampleSnar">
    </activity>
    <activity android:name=".toolBar.ToolBarSample">
    </activity>
    <activity android:name=".viewPager.ViewPagerSample">
    </activity>
    <activity android:name=".viewPager.ViewPagerParallax">
    </activity>
    <activity android:name=".viewPager.ViewPagerParallaxSnap">
    </activity>
    <!--<activity android:name=".zhihu.ZhiHuActivity">-->
    <!--</activity>-->
    <activity android:name=".jianshu.JianShuActivity">
    </activity>
    <!--<activity android:name=".zhihu.ZhiHuHomeActivity">-->
    <!--</activity>-->
    <activity android:name=".FloatingActionButtton.FloatingActionButtonActivity">
    </activity>
    <!--<activity android:name=".FloatingActiobButtton.HorizontalSample">-->
    <!--</activity>-->
    <!--<activity android:name=".cardView.CardViewSample">-->
    <!--</activity>-->
    <!--<activity android:name=".drawlayout.DrawLayoutSample">-->
    <!--</activity>-->
    <!--<activity android:name=".bottomsheet.BottomSheetActivity">-->
    <!--</activity>-->
    <!--<activity android:name=".bottomsheet.BaiduMapSample">-->
    <!--</activity>-->
    <!--<activity android:name=".viewPager.ViewPagerNew">-->
    <!--</activity>-->
    <!--<activity android:name=".weibo.WeiboActivity">-->
    <!--</activity>-->
    <!--<activity android:name=".weibo.WeiboSampleActivity">-->
    <!--</activity>-->
    <activity android:name=".dida.DidaSample"/>
    </application>

</manifest>